<ion-view title="" id="page7">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 108px;"></div>
    <h2 id="page7-heading1" style="color:#64A3E0;font-weight:400;text-align:center;">Você possui qual animal de estimação?</h2>
    <a ui-sref="page8()" id="page7-button5" style="font-weight:500;" class="button button-calm button-block">GATO</a>
    <a ui-sref="page8()" id="page7-button6" style="border-radius:2px 2px 2px 2px;" class="button button-calm button-block">CACHORRO</a>
    <a ui-sref="page8()" id="page7-button7" style="border-radius:2px 2px 2px 2px;" class="button button-calm button-block">OUTROS</a>
  </ion-content>
</ion-view>