<ion-view title="" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="page8-form6" class="list">
      <h3 id="page8-heading3" style="color:#64A3E0;">Dados do seu animal</h3>
      <div class="spacer" style="width: 300px; height: 9.99219px;"></div>
      <label class="item item-input item-floating-label" id="page8-input10">
        <input type="text" placeholder="Informe a raça do seu animal">
      </label>
      <div class="spacer" style="width: 300px; height: 7.99219px;"></div>
      <label class="item item-input" id="page8-input11">
        <input type="text" placeholder="Informe o nome do seu animal">
      </label>
      <h5 id="page8-heading7" style="color:#BFAFAF;font-weight:400;">Seu animal de estimação é?</h5>
      <div id="page8-button-bar1" class="button-bar">
        <button id="page8-button13" style="font-weight:600;font-size:15px;" class="button button-calm button-small button-block">Filhote</button>
        <button id="page8-button14" style="font-weight:600;font-size:15px;" class="button button-calm button-small button-block">Adulto</button>
        <button id="page8-button15" style="font-weight:600;font-size:15px;" class="button button-calm button-small button-block">Idoso</button>
      </div>
      <div id="page8-markdown5" class="show-list-numbers-and-dots"></div>
      <h5 id="page8-heading9" style="color:#BFAFAF;font-weight:400;">Qual o tamanho do seu animal estimação é?</h5>
      <div id="page8-button-bar2" class="button-bar">
        <button id="page8-button16" style="font-weight:600;font-size:15px;" class="button button-calm button-small button-block">Pequeno</button>
        <button id="page8-button17" style="font-weight:600;font-size:15px;" class="button button-calm button-small button-block">Medium</button>
        <button id="page8-button18" style="font-weight:600;font-size:15px;" class="button button-calm button-small button-block">Grande</button>
      </div>
      <h5 id="page8-heading10" style="color:#BFAFAF;font-weight:400;">Seu animal estimação é um(a)?</h5>
      <div id="page8-button-bar3" class="button-bar">
        <button id="page8-button19" style="font-weight:600;font-size:15px;" class="button button-calm button-small button-block">Menina</button>
        <button id="page8-button22" style="font-weight:600;font-size:15px;" class="button button-calm button-small button-block">Menino</button>
      </div>
    </form>
    <a ui-sref="page9()" id="page8-button11" style="font-weight:600;" class="button button-positive icon-right ion-android-arrow-forward">CONTINUAR PREENCHENDO</a>
  </ion-content>
</ion-view>