<ion-view title="" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="page6-form2" class="list">
      <div>
        <img src="img/1y8olypDSdGYUpRKQ8eT_Capa_para_destaque_do_Instagram__Dog__cachorro__pegadas-removebg-preview.png" style="display: block; width: 100%; height: 150%; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 300px; height: 26px;"></div>
      <ion-list id="page6-list2">
        <label class="item item-input" id="page6-input5">
          <input type="email" placeholder="Informe seu email">
        </label>
        <label class="item item-input" id="page6-input6">
          <input type="password" placeholder="Informe sua senha">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 53px;"></div>
      <button id="page6-button3" class="button button-positive button-block">ENTRAR</button>
    </form>
  </ion-content>
</ion-view>