<ion-view title="" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="page9-form7" class="list">
      <h3 id="page9-heading4" style="color:#64A3E0;">Dados pessoais</h3>
      <div class="spacer" style="width: 300px; height: 22px;"></div>
      <label class="item item-input item-floating-label" id="page9-input16">
        <input type="text" placeholder="Informe o seu nome">
      </label>
      <div class="spacer" style="width: 300px; height: 17px;"></div>
      <label class="item item-input" id="page9-input17">
        <input type="text" placeholder="Informe o seu endereço">
      </label>
      <div class="spacer" style="width: 300px; height: 16px;"></div>
      <label class="item item-input" id="page9-input18">
        <input type="tel" placeholder="Informe o seu telefone">
      </label>
      <div class="spacer" style="width: 300px; height: 16px;"></div>
      <label class="item item-input" id="page9-input19">
        <input type="text" placeholder="Informe um email">
      </label>
      <div class="spacer" style="width: 300px; height: 16px;"></div>
      <label class="item item-input" id="page9-input20">
        <input type="text" placeholder="Informe uma senha de 6 dígitos">
      </label>
      <div class="spacer" style="width: 300px; height: 16px;"></div>
    </form>
    <a ui-sref="page10()" id="page9-button12" style="font-weight:600;" class="button button-balanced button-block">FINALIZAR CADASTRO</a>
  </ion-content>
</ion-view>