<ion-view title="" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="page5-form1" class="list">
      <div>
        <img src="img/1y8olypDSdGYUpRKQ8eT_Capa_para_destaque_do_Instagram__Dog__cachorro__pegadas-removebg-preview.png" style="display: block; width: 100%; height: 150%; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 300px; height: 68px;"></div>
      <div style="margin-right:-20px;">
        <a ui-sref="page7()" id="page5-button4" style="left:-10px;font-weight:600;" class="button button-calm button-full">Sou novo aqui</a>
      </div>
      <div class="spacer" style="width: 300px; height: 6px;"></div>
    </form>
    <div style="margin-right:-20px;">
      <a ui-sref="page6()" id="page5-button1" style="left:-10px;font-weight:600;" class="button button-stable button-full">Já tenho conta</a>
    </div>
  </ion-content>
</ion-view>